<!DOCTYPE html>
<html lang="en" xmlns:th=http://www.thymeleaf.org
      xmlns:sec=http://www.thymeleaf.org/extras/spring-security
      xmlns:shiro=http://www.pollix.at/thymeleaf/shiro> >
<head>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<meta charset="ISO-8859-1">
<title>Employee Management System</title>
</head>
<body>
	<div class="container">
	<h1>Employee Management System</h1>
	<hr>
	<h2>Save employee information from here</h2>
	
	<form action="#" th:action="@{/saveemployee}" th:object="${employee}"  method="post">
	
	<input type="text" placeholder="Enter Employee First Name" th:field="*{firstName}" class="form-control mb-4 col-4">
	<input type="text" placeholder="Enter Employee Last Name" th:field="*{lastName}" class="form-control mb-4 col-4">
	<input type="text" placeholder="Enter Employee Email" th:field="*{email}" class="form-control mb-4 col-4">
	<button class="btn btn-info col-2">Save</button>
	
	</form>
	
	<hr>
	<a th:href = "@{/}"> Back to Employee List</a>
	</div>
</body>
</html>